<!DOCTYPE html>
<html>
<head>
    <title>Submit Form</title>
</head>
<body>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <input type="text" name="field1" placeholder="Field 1"><br>
        <input type="text" name="field2" placeholder="Field 2"><br>
        <!-- Add other fields similarly -->
        <input type="file" name="image1"><br>
        <input type="file" name="image2"><br>
        <!-- Add the third image upload field -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>